asgiref==3.9.2
cfgv==3.4.0
coverage==7.10.7
databases==0.5.5
distlib==0.4.0
django==5.2.7
django-cors-headers==4.9.0
django-extensions==4.1
django-picklefield==3.3
django-prometheus==2.4.1
django-q2==1.8.0
djangorestframework==3.16.1
filelock==3.19.1
gunicorn==23.0.0
identify==2.6.14
markupsafe==3.0.3
nodeenv==1.9.1
ormar==0.10.23
packaging==25.0
platformdirs==4.4.0
pre-commit==4.3.0
prometheus-client==0.23.1
psycopg2-binary==2.9.10
python-decouple==3.8
pyyaml==6.0.3
ruff==0.13.2
sqlalchemy==1.4.53
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
watchdog==6.0.0
werkzeug==3.1.3
